
h1{
    font-size: 70px;
    text-align: center;
    background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px red;
}
.box{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;  
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-duration: 1s;
}
.box1{
    background-color: brown;
    left: 42%;
}
.box2{
    background-color: yellow;
    left: 44%;
    animation-delay: 0.1s;
}
.box3{
    background-color:red;
    left: 46%;
    animation-delay: 0.2s;
}
.box4{
    background-color: blue;
    left: 48%;
    animation-delay: 0.3s;
}
.box5{
    background-color:yellowgreen;
    left: 50%;
    animation-delay: 0.4s;
}
@keyframes bounce{
    from{
        bottom: 0;
    }
    to{
        bottom: 300px;
    }
}